.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  @include respond(tab-port) {
    padding: 3rem 0;
  }
  &__text {
    display: inline-block;
    border-top: 1px solid;
    margin: 0 auto;
  }
  &__icons {
    text-align: center;
  }
}
