$color-primary: #12c2e9;
$color-primary-light: #b1effd;

$color-secondary: #c471ed;
$color-secondary-light: #cba1e0;

$color-third: #f64f59;
$color-third-light: #f5b2b6;

$color-white: #fff;
$color-grey: #777;
$color-black: #000;
$color-grey-light: #eee;

$color-grey-light-1: #f7f7f7;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
