.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    // for the <bottom> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &--white {
    background-color: $color-white;
    color: $color-grey;
    &--1 {
      margin-bottom: 2rem;
      transform: translate(0.6rem);

      @include respond(tab-port) {
        margin: 0.5rem;
        transform: translate(0);
      }
    }
    &::after {
      background-color: $color-white;
    }
  }
  &--green {
    background-color: #6fd08c;
    color: $color-white;
    &--1 {
      margin-bottom: 2rem;
      transform: translate(0.6rem);
    }
    &::after {
      background-color: #6fd08c;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
