*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //therefore 1rem = 10px
  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    //900
    font-size: 50%; //1rem = 8px
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}
